<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WildStar Radio News</title>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url(../../Content/Images/spacebackground.jpg ); background-repeat: no-repeat; background-attachment:fixed; padding: 0; margin: 0;">

    @Html.Partial("~/Views/Shared/_Navbar.cshtml")
    <div>
        @Html.Partial("~/Views/Shared/_Banner.cshtml")
    </div>
    <div class="container-fluid body-content" style="border: 1px solid black; background-color: #111;">
        @RenderBody()
    </div>
    <div class="container-fluid">
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
